<div class="row fixed-top nav-bar">
  <div class="col-12 text-center">
    <h1>Les héros</h1>
    <p-breadcrumb class="max-w-full" styleClass="bg-dark" [model]="menu" [home]="accueil"></p-breadcrumb>
  </div>
</div>

<div class="row mt-5 p-5">
  <div class="col-6 col-sm-4 col-md-3 col-lg-2 carte-hero" *ngFor="let hero of herosPagines">
    <p-card [routerLink]="hero.slug">
      <ng-template pTemplate="header">
        <div class="position-relative">
          <!--suppress HtmlUnknownBooleanAttribute (priority) -->
          <img [alt]="['heros', hero.name]"
               height="280"
               width="160"
               priority
               [ngSrc]="hero.images.sm"
               class="hero-card-image"/>

          <div class="numero-hero">#{{hero.id}}</div>
        </div>

        <div class="p-2">
          <!-- Header -->
          <h4 class="text-ellipsis" [title]="hero.name">{{hero.name}}</h4>

          <!-- SubHeader -->
          <h6>{{hero.biography.fullName}}</h6>
        </div>
      </ng-template>


      <ng-template pTemplate="footer">
        <!-- Tags -->
        <div class="row">
          <app-custom-tag [value]="alignmentEnum.from(hero?.biography.alignment)?.label"
                          [color]="alignmentEnum.from(hero?.biography.alignment)?.colorHigh"
                          [bgColor]="alignmentEnum.from(hero?.biography.alignment)?.colorLow">
            <i class="pi pi-{{hero.biography.alignment === 'good'? 'sun':'moon'}}"></i>
          </app-custom-tag>
        </div>
      </ng-template>
    </p-card>
  </div>


  <div class="paginator">
    <p-paginator (onPageChange)="paginer($event)"
                 styleClass="bg-transparent"
                 [first]="0"
                 [rows]="nbParLigne"
                 [totalRecords]="nbLignes"
                 [rowsPerPageOptions]="[20, 50, 80]"></p-paginator>
  </div>
</div>

