<div class="row vh-100">
  <div class="col-12 col-sm-6 row text-center align-items-center">
    <h1 class="d-block">Adopte un Super Héro</h1>
    <div>
      <h4>
        Un problème compliqué ?
        <br>
        Besoin de gros bras pour un déménagement ?
        <br>
        Ne cherchez plus !
        <br>
        Faites vous accompagner par un super héro en choisissant celui qui vous correspond.
        On vous aide 😉
      </h4>
    </div>
    <div>
      <p-button routerLink="/heros" label="Trouver mon super héro"></p-button>
    </div>
  </div>

  <div class="col-12 col-sm-6 text-center row align-items-center">
    <div class="col-12 p-0">
      <h5 class="fst-italic">Dernières recrues</h5>
      <app-dernieres-recrues></app-dernieres-recrues>
    </div>
  </div>
</div>
